.parent{
    position: relative;
    display: flex;
}
.yellow{
    height: 940px;
    width: 1020px;
    background-color: rgb(188, 128, 72);
}
.blue{
    height: 940px;
    width: 1020px;
    background-color: rgb(9, 150, 201);
}

.red{
    height: 400px;
    width: 400px;
    background-color: brown;
    position: absolute;
    
}

/* body{
    position: absolute;
    top: 10%;
} */
.container{
    margin: 0px;
    display: flex;
    position: absolute;
    left: 25%;
    top: 10%;

}

.left-child{
    height: 700px;
    width: 600px;
    background-color:rgb(250, 235, 215);
    /* gap: 10px; */
    /* position: relative; */
    
    color: black;
}

.left-nav{
    font-size: 30px;
    padding: 5px;
    margin-left: 0px;
    height: 70px;
    width: 200px;
    background-color: rgb(38, 34, 60);
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.element{
    margin-left: 150px;
    
}

.p1{
    font-size: 24px;
}


.right-child{
    height: 700px;
    width: 600px;
    background-color: brown;
}

.right-nav ul{
    display: flex;
    justify-content: space-around;
    font-size: 32px;
    color: aliceblue;
    
}
.right-child h1{
    color: white;
    font-size: 50px;
}

.left{
    border-radius: 20px;
    border: 2px solid white;
    background-color: transparent;
    width: 100px;
    height: 40px;
    margin-left: 10px;
}
.right{
    border-radius: 20px;
    border: 2px solid white;
    background-color: black;
    width: 120px;
    height: 40px;
    margin-left: 10px;
    color: aliceblue;
}

.right-child h1{
    margin-left: 90px;
}
.right-child .information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.middle{
    font-size: 17px;
    color: white;
}

.middle .bold{
    font-size: 30px;
}
.btn{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    gap: 30px;
}

.btn .left{
    color: aliceblue;
}
 #footer{
    margin: 70px;
    margin-left: 370px;
    display: flex;
    height: 40px;
    width: 40px;
    gap: 30px;
    background-color: transparent;
}


.foot-img{
    height: 500px;
    width: 400px;
    position: absolute;
    top: 100px;
    left: 350px;
    border-radius: 70px;

}