
#main{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: gray;
    height: 300px;
    width: 1300px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    
}

.nav-bar{
    background-color: black;
    color:aliceblue;
    height: 50px;
    width: 1000px;
    border-radius: 10px;
    display: flex;

    
}
#logo{
    padding: 15px;
    margin-left: 100px;
}

#about{
    margin: 0px 20px 0px 200px;
}
#portfolio{
    margin: -18px 20px 90px 320px;
}

#service{
     margin: -109px 20px 10px 460px;
}

#contact{
    margin: -28px 20px 10px 600px;
    background-color: chartreuse;
    border-radius: 10px;
    width: 79px;
    height: 23px;
    color: black;
    
}


#logo2{
    padding: 15px;
    margin-left: 100px;
}


#About{
    margin: 12px 20px 0px 240px;
    color: aliceblue;
    
}

#Portfolio{
    margin: 12px 20px 0px 63px;
    color: aliceblue;
    text-decoration: none;
}

#Service{
    margin: 12px 20px 0px 63px;
    color: aliceblue;
    text-decoration: none;
}

#contact_us{
    margin: 12px 20px 0px 73px;
   background-color: chartreuse;
    border-radius: 10px;
    width: 79px;
    height: 23px;  
}

#Contact{
    margin: 12px 20px 0px 73px;
    border-radius: 10px;
    width: 79px;
    height: 23px;  
}

#aBout{
    margin: 12px 20px 0px 240px;
    color: aliceblue;
    text-decoration: none;
}